.container{
}
.number{
  flex: 1;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text{
  display: block;
  width: 400px;
  height: auto;
  resize: none;
  overflow: hidden;
}

*{
  font-size: 14px;
  font-family: "Courier New";
}

