
.cope_text {
  overflow: hidden;
  width: 400px;
  line-height: 14px;
}

.cope_text p {
  margin: 0 0 0 0;
  word-wrap: break-word;
  white-space: pre-line;
}

.line-clamp {
  display: -webkit-box;

  -webkit-box-orient: vertical;
}
